@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400&display=swap");

body {
  background: #ffffff;
  font-family: "Manrope", sans-serif;
}

.vacp-color-input {
  &:focus {
    outline: none !important;
    border: 1px solid #ccc !important;
  }
}

#color-picker-alpha-slider {
  &:focus {
    outline: none !important;
    border: 1px solid #ccc !important;
  }
}

svg.fa-star > path {
  fill: #cb3736 !important;
}
